@model Csharp3_A3.ViewModels.AddAppointmentViewModel
@{
	if (User.IsInRole("Patient"))
	{
		Layout = "_MinimalLayout";
	}
}
<h2>Add Appointment</h2>

<div>
	<label>User: </label>
	@if (User.IsInRole("Patient"))
	{
		<input class="form-control" value="@Model?.Patient?.Name" readonly />
	}
	else if (User.IsInRole("Staff"))
	{
		<input class="form-control" value="@Model.Staff?.Name" readonly />
	}
</div>

<form method="post" asp-controller="Appointments" asp-action="AddAppointment">
	<div class="form-group">
		<label asp-for="Reason"></label>
		<input asp-for="Reason" class="form-control" />
		<span asp-validation-for="Reason" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="DateOfAppointment"></label>
		<input asp-for="DateOfAppointment" type="datetime-local" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
		<span asp-validation-for="DateOfAppointment" class="text-danger"></span>
	</div>

	@if (User.IsInRole("Patient"))
	{
		<div class="form-group">
			<label asp-for="Appointment.StaffId"></label>
			<select asp-for="Appointment.StaffId" class="form-select" asp-items="Model.SelectStaff"></select>
		</div>
	}
	else if (User.IsInRole("Staff"))
	{
		<div class="form-group">
			<label asp-for="Appointment.PatientId"></label>
			<select asp-for="Appointment.PatientId" class="form-select" asp-items="Model.SelectPatients"></select>
		</div>

		<div class="form-group">
			<label asp-for="Appointment.Status"></label>
			<select asp-for="Appointment.Status" class="form-select" asp-items="Model.StatusList"></select>
		</div>
	}

	<input type="hidden" asp-for="Appointment.PatientId" />
	<input type="hidden" asp-for="Appointment.StaffId" />

	<button type="submit" class="btn btn-primary mt-2">Save</button>
	<a asp-controller="Appointments" asp-action="Index" class="btn btn-outline-primary mt-2">Cancel</a>
</form>